/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --ifm-background-color: #001219;
  --ifm-contrast-background-dark-value: #001219;
  --ifm-color-primary-contrast-background: #001219;
  --ifm-color-secondary-contrast-background: #001219;
  --ifm-hero-background-color: #001219;
  --ifm-background-surface-color: #001219;
  --ifm-button-background-color: #08668a;
  --ifm-footer-background-color: #001219;
  --ifm-navbar-background-color: #001219;

  --ifm-color-primary: #004864;
  --ifm-color-primary-dark: #00354a;
  --ifm-color-primary-darker: #012634;
  --ifm-color-primary-darkest: #001219;
  --ifm-color-primary-light: #004e6c;
  --ifm-color-primary-lighter: #006e9a;
  --ifm-color-primary-lightest: #0085B8;
  --ifm-code-font-size: 90%;  
  --ifm-font-letter-spacing: 0em;
  --ifm-font-family-base: "Inter", sans-serif;  
  
  --ifm-heading-letter-spacing: 0rem;
  --ifm-heading-line-height: 1.5;
  
  --docusaurus-highlighted-code-line-bg: #001219;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
html[data-theme='dark'] {
  --ifm-font-color-base: #EDEDED;
  --ifm-font-line-height: 1.875;
  --ifm-font-weight-base: 350;

  --ifm-heading-line-height: 1.875;

  --ifm-background-color: #001219;
  --ifm-contrast-background-dark-value: #001219;
  --ifm-color-primary-contrast-background: #001219;
  --ifm-color-secondary-contrast-background: #001219;
  --ifm-hero-background-color: #001219;
  --ifm-background-surface-color: #1e343b;
  --ifm-button-background-color: #08668a;
  --ifm-footer-background-color: #001219;
  --ifm-navbar-background-color: #00212f;
  --ifm-heading-color: #ededed;
  --ifm-font-color-base-inverse: #c0c0c0;

  --ifm-color-primary: #BCEEFF;
  --ifm-color-primary-dark: rgb(20, 132, 176);
  --ifm-color-primary-darker: #0e6f96;
  --ifm-color-primary-darkest: #105976;
  --ifm-color-primary-light: #6bc5e9;
  --ifm-color-primary-lighter: #98d1e8;
  --ifm-color-primary-lightest: #c0d6df;
  --docusaurus-highlighted-code-line-bg: #02668d;

  --ifm-font-family-base: "Inter", sans-serif;
}

[data-theme='dark'] .DocSearch {
  --docsearch-text-color: var(--ifm-font-color-base);
  --docsearch-muted-color: var(--ifm-color-secondary-darkest);
  --docsearch-container-background: #061115c5;
  /* Modal */
  --docsearch-modal-background: var(--ifm-background-color);
  /* Search box */
  --docsearch-searchbox-background: var(--ifm-background-color);
  --docsearch-searchbox-focus-background: var(--ifm-background-color);
  /* Hit */
  --docsearch-hit-color: var(--ifm-font-color-base);
  --docsearch-hit-active-color: var(--ifm-color-white);
  --docsearch-hit-background: var(--ifm-background-color);
  --docsearch-highlight-color: #002331;
  /* Footer */
  --docsearch-footer-background: var(--ifm-background-color);
  --docsearch-key-gradient: linear-gradient(
    -26.5deg,
    var(--ifm-color-emphasis-200) 0%,
    var(--ifm-color-emphasis-100) 100%
  );
}

.DocSearch-Hit-content-wrapper {
  font-weight: 350;
}

.DocSearch-Hit-source,
.DocSearch-Hit-title > mark,
.DocSearch-Hit-path > mark,
.DocSearch-Search-Icon {
  color: #BCEEFF !important;
}

/* Set max-width for all pages and center content */
.theme-doc-markdown {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 16px;
}

/* Apply the same width to pages without the TOC */
.theme-doc-content {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 16px;
}

@media screen and (max-width: 996px) {
  :root {
    --ifm-font-size-base: 18px;
  }
  .hero .hero__title {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 997px) {
  :root {
    --ifm-font-size-base: 16px;
  }
}

article {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.navbar-sidebar--show {
  backdrop-filter: none !important;
}

.menu__list .menu__link {
  font-size: 16px; 
  font-weight: 350; 
}

.menu__list .menu__link--sublist {
  font-size: 16px;
  font-weight: 350;
}

 .sidebar {
  background-color: rgb(0,18,25,0.5);
  backdrop-filter: blur(20px); 
  -webkit-backdrop-filter: blur(20px); 
} 

.theme-doc-sidebar-container {
  border-right-color: rgba(178, 178, 178, 0.1) !important;
}

.button.button--secondary {
  background-color: rgba(4, 34, 46, 0.3);
  color: #0085B8;
  border-color: #004e6c;
  font-weight: 500;
  border-radius: 1rem;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  
  /* Adding transition for smooth effect */
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

/* Hover effect */
.button.button--secondary:hover {
  background-color: rgba(4, 34, 46, 0.6); /* Darker background */
  color: #00a7d1; /* Lighter text color */
  border-color: #006f92; /* Slightly different border color */
}

/* Active (Click) effect */
.button.button--secondary:active {
  background-color: rgba(4, 34, 46, 0.8); /* Even darker background */
  color: #ffffff; /* White text on click */
  border-color: #0085B8; /* More contrast */
}

.card {
  background-color: rgba(0, 18, 25, 0.348);
  backdrop-filter: blur(20px); 
  -webkit-backdrop-filter: blur(20px); 
}

.theme-admonition {
  opacity: 1 !important;
  backdrop-filter: blur(70px);
  -webkit-backdrop-filter: blur(70px);
  border: 0.5px solid rgba(169, 169, 169, 0.5);
}

.theme-admonition.theme-admonition-note {
  background-color: rgba(110, 110, 110, 0.166) !important;
}

.theme-admonition.theme-admonition-tip {
  background-color: rgba(24, 132, 0, 0.292) !important;
}

.theme-admonition.theme-admonition-warning {
  background-color: rgb(73, 69, 0) !important;
}

.theme-admonition.theme-admonition-danger {
  background-color: rgba(255, 99, 71, 0.4) !important;
}

.theme-admonition.theme-admonition-info {
  background-color: rgba(68, 153, 181, 0.201) !important;
}


.hero {
  background-color: transparent;
  background: url('/img/hero-bg.png') no-repeat center center/cover;
  backdrop-filter: blur(20px); 
  box-shadow: 0 1px 1px rgba(178, 178, 178, 0.1);
  -webkit-backdrop-filter: blur(30px); 
}

.navbar {
  background-color: rgba(0, 18, 25, 0.591);
  box-shadow: 0 1px 1px rgba(178, 178, 178, 0.1);
  backdrop-filter: blur(20px); 
  -webkit-backdrop-filter: blur(20px); 
  font-size: px; 
  font-weight: var(--ifm-font-weight-base) !important;
}

.footer {
  background-color: rgb(0,18,25,0.5);
  backdrop-filter: blur(20px); 
  -webkit-backdrop-filter: blur(20px); 
  font-size: 14px; 
  font-weight: var(--ifm-font-weight-base) !important;
  border-top: 0.5px solid rgba(169, 169, 169, 0.146);
}

.docMainContainer_TBSr {
  background-image: url("/static/img/bg_gradient.jpg") !important;
  background-size: contain;
  background-repeat: no-repeat; 
}

body {
  letter-spacing: var(--ifm-font-letter-spacing);
  line-height: var(--ifm-font-line-height);
  font-weight: var(--ifm-font-weight-base);
 }

.beta-text {
  font-size: smaller;
  color: dodgerblue;
}

.subheader-text {
  font-size: 19px;
  font-weight: medium;
  color: #cbcbcb;
  line-height: var(--ifm-font-line-height);
  display: block;
  margin-top: -20px !important;
  margin-bottom: 20px;
}

.larger-text {
  font-size: 19px;
  font-weight: medium;
  color: #cbcbcb;
  line-height: var(--ifm-font-line-height);
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
}