name: Deploy to Amazon S3

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    environment: production

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::${{ vars.AWS_ACCOUNT_ID }}:role/GitHub_Actions_Role
          aws-region: ${{ vars.AWS_REGION }}

      - name: Setup Node
        id: setup-node
        uses: actions/setup-node@v4
        with:
          node-version: "lts/iron"

      - name: Build web project
        id: build-web
        run: |
          npm install
          npm run build

      - name: Deploy WebApp
        uses: reggionick/s3-deploy@v4
        with:
          folder: build
          bucket: ${{ vars.S3_BUCKET }}
          bucket-region: ${{ vars.AWS_REGION }}
          dist-id: ${{ vars.CLOUDFRONT_DISTRIBUTION_ID }}
          invalidation: /
          delete-removed: true
          no-cache: true
          private: true
          files-to-include: "{.*/**,**}"
